<h1>Delete Form</h1>


<%= form_tag "/employee_delete" do %>
    <%= label :employee_to_delete, "Delete "%>
    <%= select_tag :employee_id, options_from_collection_for_select(Employee.all, :id, :name)%>
    <%= submit_tag %>
<% end %>