<h1> <%= @building.name %></h1>

<% @building.companies.each do |company| %> 
<div><%=  company.name %></div>
<% end %>

<%= "Total Rent :  #{@building.total_rent} "%>

<div><%= link_to "Edit", edit_building_path(@building)%></div>
