<h1> <%=  @company.name %> </h1>

<% @company.offices.each do |office| %>
   <div> <%= "Building Name: #{office.building.name}" %> </div>
    <div><%= "Office Floor: #{office.floor}" %></div>

    <%end%>
<% @company.employees.each do |employee| %>
   <div> <%= "Employee: #{employee.name}" %> </div>
   <% end %>
    